<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>앨범에서 사진을 가져오기 위해 접근이 필요합니다.</string>
	<key>UNUserNotificationCenter</key>
	<string></string>
	<key>NSLocalNetworkUsageDescription</key>
	<string></string>
	<key>INIntentsSupported</key>
	<array>
		<string>Intent</string>
	</array>
</dict>
</plist>
